html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  background-color: aquamarine;
}

.section__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  min-height: 75vh;
}

#app {
  max-width: 650px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 16px;
  resize: none;
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
